body {
    width: 80%;
    max-width: 60rem;
    margin: auto;
    background-color: #170a19;
    font-family: 'Work Sans', sans-serif;
  }
  
  .pagetitle {
    padding-top: 5rem;
    font-size: 3rem;
    color: #70416d;
  }

  .pagecontent{
      padding-top: 1rem;
      font-size: 1rem;
      color: #d45d79;
  }

  hr{
      margin-top: 30px;
  }

  footer {
  padding-top: 50px;
  bottom: 20px;
  left: 0;
  position: relative;
  width: 100%;
  color: #ff8080
}